
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
</head>
<body>
    {% if user.is_authenticated %}
        hello {{ user.profileperson.first_name }} 
        <br>you birth day is: {{ user.profileperson.birth_date }}
        <br>location: {{user.profileperson.location}}
        <br><a href="{% url 'url_logout' %}">Logout</a>
        <br> <br> <br><br>
        <a href="{% url 'url_update_profile' %}">Sou psicologo</a>
    {% else %}
        <a href="{% url 'url_login' %}">Login</a>
        <br> <br> <br><br>
        <a href="{% url 'url_signup' %}">Sign up</a>
        


    {% endif %}
</body>